.ItemsContainer {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.Card {
    color: black;
    width: 210px;
    height: 320px;
    margin-top: 1em;
}

.Card-Img {
    width: 210px;
    height: 210px;
}